.card {
  padding: 50px 50px 10px 50px;
  display: flex;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 25px;
}

.button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  left: 250px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.button:hover,
.button:focus {
  opacity: 1;
}

.arrow {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-image: url('https://image.flaticon.com/icons/svg/130/130882.svg');

  background-repeat: no-repeat;
  background-position: center;
}

.icon {
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
  opacity: 50%;
}

.poster {
  height: 500px;
}

.about {
  padding-left: 50px;
  text-align: start;
}

.title,
.subtitle {
  margin: 0px;
}

.genre,
.description {
  color: grey;
}

.genre,
.item {
  list-style-type: none;
}

.aditional {
  padding-left: 50px;
  text-align: start;
}

.link {
  font-size: 20px;
  color: grey;
  text-decoration: none;
}

.linkActive {
  color: tomato;
}

.list {
  margin-top: 10px;
  display: flex;
}

.item:first-child {
  margin-right: 20px;
}
