.list {
  padding: 20px 20px 20px 50px;
  display: flex;
  border-bottom: 1px solid grey;
}

.listItem {
  list-style-type: none;
}

.listItem:first-child {
  margin-right: 40px;
}

.navLink {
  font-size: 20px;
  color: grey;
  text-decoration: none;
}

.navLinkActive {
  color: tomato;
}
